<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla :: head}">
        <title>TechShop</title>
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"></header>

        <section th:replace="~{usuario/fragmentos :: botonesAgregar}"></section>
        <section th:replace="~{usuario/fragmentos :: agregarUsuario}"></section>
        <section th:replace="~{usuario/fragmentos :: listadoUsuarios}"></section>
        
        <footer th:replace="~{layout/plantilla :: footer}"></footer>

    </body>
</html>