<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout/plantilla :: head">
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"></header>
        
        <section th:replace="producto/fragmentos :: botonesAgregar"></section>
        <section th:replace="producto/fragmentos :: agregarProducto"></section>
        <section th:replace="producto/fragmentos :: listadoProductos"></section>
        
        <footer th:replace="layout/plantilla :: footer"></footer>
    </body>
</html>

