<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>TechShop</title>
    </head>
    <body>
        <!-- 1 Sección principal para mostrar la informaccion de las categorias -->
        <section th:fragment="categoriasTabs" id="categorias">
            <div class="row py-4">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link" 
                           aria-current="page" 
                           href="/pruebas/listado"
                           >[[#{pruebas.todas}]]</a>
                    </li>
                    <li th:each="categoria : ${categorias}" class="nav-item">
                        <a class="nav-link" 
                           th:href="@{/pruebas/listado/}+${categoria.idCategoria}"
                           >[[${categoria.descripcion}]]</a>
                    </li>                    
                </ul>
            </div>
        </section>

        <!-- 2 Sección principal para mostrar la informaccion de las productos -->
        <section th:fragment="listadoProductos" id="productos">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <div class="card">
                            <div class="card-header">
                                <h4>[[#{producto.listado}]]</h4></div>
                            <div th:if="${productos != null and !productos.empty}">
                                <table class="table table-striped table-hover">
                                    <thead class="table-dark">
                                        <tr><th class="text-center">#</th>
                                            <th class="text-center">[[#{producto.descripcion}]]</th>
                                            <th class="text-center">[[#{producto.precio}]]</th>
                                            <th class="text-center">[[#{producto.existencias}]]</th>
                                            <th class="text-center">[[#{producto.total}]]</th>
                                            <th class="text-center">[[#{producto.activo}]]</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="producto, contador : ${productos}">
                                            <td class="text-center">[[${contador.count}]]</td>
                                            <td>[[${producto.descripcion}]]</td>
                                            <td class="text-end">[[${#numbers.formatDecimal(producto.precio, 1, 'DEFAULT', 2, 'DEFAULT')}]]</td>
                                            <td class="text-center">[[${producto.existencias}]]</td>
                                            <td class="text-end">[[${#numbers.formatDecimal(producto.precio*producto.existencias, 1, 'DEFAULT', 2, 'DEFAULT')}]]</td>
                                            <td th:text="${producto.activo} ? 'Activa' : 'Inactiva'" />
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-center p-2" th:if="${productos == null or productos.empty}">
                                <span>[[#{lista.vacia}]]</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card text-center bg-success text-white mb-3">
                            <div class="card-body">
                                <h3>[[#{producto.total}]]</h3>
                                <h4 class="fs-2"><i class="fas fa-users"></i> [[${totalProductos}]]</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- 3 Sección para crear los filtros -->
        <section th:fragment="filtros" class="bg-light">
            <div class="row py-2">
                <div class="col-md-1"></div>
                <div class="col-md-3">
                    <form method="POST" th:action="@{/pruebas/query1}" 
                          class="was-validated">
                        <div class="card">                            
                            <div class="card-body">
                                <div class="mb-3">
                                    <label for="precioInf">[[#{pruebas.precio.inferior}]]</label>
                                    <input type="number" class="form-control" 
                                           th:value="${precioInf}"
                                           th:name="precioInf" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="precioSup">[[#{pruebas.precio.superior}]]</label>
                                    <input type="number" class="form-control" 
                                           th:value="${precioSup}"
                                           th:name="precioSup" required="true"/>
                                </div>
                            </div>
                            <div class="card-footer text-center">
                                <button type="submit" class="btn btn-primary">
                                    <i class="fas fa-check"></i> [[#{pruebas.ampliadas}]]
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-3">
                    <form method="POST" th:action="@{/pruebas/query2}" 
                          class="was-validated">
                        <div class="card">                            
                            <div class="card-body">
                                <div class="mb-3">
                                    <label for="precioInf">[[#{pruebas.precio.inferior}]]</label>
                                    <input type="number" class="form-control" 
                                           th:value="${precioInf}"
                                           th:name="precioInf" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="precioSup">[[#{pruebas.precio.superior}]]</label>
                                    <input type="number" class="form-control" 
                                           th:value="${precioSup}"
                                           th:name="precioSup" required="true"/>
                                </div>
                            </div>
                            <div class="card-footer text-center">
                                <button type="submit" class="btn btn-info">
                                    <i class="fas fa-check"></i> [[#{pruebas.jpql}]]
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-3">
                    <form method="POST" th:action="@{/pruebas/query3}" 
                          class="was-validated">
                        <div class="card success">
                            <div class="card-body">
                                <div class="mb-3">
                                    <label for="precioInf">[[#{pruebas.precio.inferior}]]</label>
                                    <input type="number" class="form-control" 
                                           th:value="${precioInf}"
                                           th:name="precioInf" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="precioSup">[[#{pruebas.precio.superior}]]</label>
                                    <input type="number" class="form-control" 
                                           th:value="${precioSup}"
                                           th:name="precioSup" required="true"/>
                                </div>
                            </div>
                            <div class="card-footer text-center">
                                <button type="submit" class="btn btn-warning">
                                    <i class="fas fa-check"></i> [[#{pruebas.nativo}]]
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </body>
</html>